---
layout: page
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-item">
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {%- if post.excerpt -%}
            {%- if post.image -%}
                <a href="{{ post.url | relative_url }}">
                    <img src="{{ post.image }}" alt="image thumbnail" align="left" style="width: 130px;" hspace="15"/>
                </a>
                {{ post.excerpt }}
            {%- endif -%}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

</div>
